@page
<div class="container">

    Client

    <div id="messagesList"></div>

    <input type="button" id="sendButton" value="Send Message" />

</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ChatC.js"></script>
