@page
<div class="container">

    Server<br />

    <input type="button" id="sendButton" value="Send Message" />

    <ul id="messagesList"></ul>



</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ChatS.js"></script>
